$font: 'Source Sans Pro', sans-serif;
$avatar-size: 55;
$body-wrapper-padding: 65;
$body-wrapper-margin-left: -64;

//no external borders
.crafter-social-view.crafter-social-inline-view {

    .panel {
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        @media screen and (min-width: 768px) {
            .options-view-container {
                a[data-option='close'] {
                    display: none;
                }
            }
        }
    }

    .crafter-social-comment {
        @media screen and (max-width: 768px) {
            .comment-attachments {
                margin: 0 auto;
            }

            .comment-attachments .img-file {
                max-width: 100%;
                margin: 10px 0;
            }
        }
    }
}

.crafter-social-view.crafter-social-inline-view .panel-default > .panel-heading {
    background-color: transparent;
    border-bottom: 1px solid #979797;
    margin: 20px 0 0;
    padding-bottom: 15px;

    .panel-title {
        a,span{
            padding: 0;
            color: #616161;
            font-size: 22px;
            font-weight: 400;
            font-family: "Source Sans Pro", sans-serif;

            &:before {
                content: "";
            }
        }
    }
}

//commentsclear

.crafter-social-view.crafter-social-inline-view .panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top: none;
    padding: 0px;
}

//flagged button checked - color
.crafter-social-view .crafter-social-comment-thread .crafter-social-comment .comment-flagged .cs-icon-flag {
    color: #f36368;
}

//comments - spacing and borders
.crafter-social-view .crafter-social-comment-thread {
    padding: 15px 0 0 0;

    .crafter-social-comment {
        position: relative;
        border-bottom: 1px solid #979797;
        margin: 0;
        padding: 15px 0 20px;

        &:first-child {
            border-bottom: 1px solid #979797;
            //margin: 0 0 5px 0;
            padding: 0 0 20px;
        }

        .body-wrapper {
            padding-left: $body-wrapper-padding + 0px;

            .comment-data {
                .comment-body {
                    margin-left: $body-wrapper-margin-left + 0px;;
                    margin-top: 25px;
                    margin-bottom: 15px;
                }
            }

            .avatar {
                img {
                    width: $avatar-size + 0px;
                    height: $avatar-size + 0px;
                }
            }
        }

        .comment-children {
            .body-wrapper {
                padding-left: $body-wrapper-padding - 20px;
            }

            .body-wrapper .comment-data .comment-body {
                margin-left: $body-wrapper-margin-left + 20px;
            }

            .avatar {
                top: 6px;
            }

            .avatar img {
                width: $avatar-size - 20px;
                height: $avatar-size - 20px;
            }
        }

        .body-wrapper .comment-data {

            p, strong {
                font-size: 15px;
                font-family: $font;
            }

            header {
                line-height: 19px;
                margin-top: 8px;
            }
        }
    }
}

//social-votes
.crafter-social-view .crafter-social-comment-thread .crafter-social-comment {
    .status-messages {
        padding: 15px 0 0 0;
    }

    .comment-actions {

        .vote-up-wrapper {
            padding: 6px 10px;
        }

        .vote-down-wrapper {
            padding: 6px 10px;
            border-left: 1px solid #979797;
        }

    }

    a[data-action-flag] {
        padding: 6px 30px 8px 30px;
        background: #ECECEC;
        border-radius: 5px;
        text-decoration: none;
        font-family: $font;
        font-size: 15px;
        color: #404040;

        &:after {
            content: attr(flagged-title);
            color: #404040;

        }

    }
    a[flagged-title=""], a[flagged-title="undefined"] {
        &:after {
            content: "Flag as inappropriate.";
        }
    }
    a[title^="Flagged"] {
        color: #f36368;

        &:after {
            content: attr(title);
            color: #f36368;
        }
    }
}

.crafter-social-view.crafter-social-commenting-view {
    margin-top: 20px;
    max-height: 230px;
    overflow-y: auto;

    .response-container {
        height: 100%;

        .avatar {
            float: left;
            margin: 5px;
        }

        .avatar img {
            width: $avatar-size + 0px;
            height: $avatar-size + 0px;
            border-radius: 50%;
        }

        .textarea {
            float: left;
            width: 85%;
        }
    }

    .post-label {
        color: #616161;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 0;
        padding-bottom: 15px;
        font-family: "Source Sans Pro", sans-serif;
    }

    .btn-primary {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #4D90FE;
        color: white;
        padding: 6px 30px;
        font-size: 15px;
        border: none;
        margin-top: 5px;
    }

    .submission-details {
        clear: both;
        margin-top: 15px;
    }
}

.crafter-social-lightbox-view {

    .modal-dialog {
        width: 710px;

        .modal-content {
            max-height: calc( 100vh - 20px );

            .modal-body {
                display: none;
            }

            .modal-comment-box {
                padding: 15px 20px 30px 20px;
                max-height: calc( 100vh - 350px );
                overflow-x: hidden;
                overflow-y: scroll;
            }

            .modal-footer.reply-box {
                padding: 0 20px 20px;
                min-height: 273px;
            }
        }
    }
}

.crafter-social-modal-view.crafter-social-lightbox-view {
    height: 100%;

    .modal-dialog {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.crafter-social-modal-view-backdrop.in {
    opacity: 0;
}



//issue with crafter bar
#controls-overlay ~ .crafter-social-lightbox-view {
    .modal-dialog {
        top: 52% !important;

        .modal-content {
            max-height: calc(100vh - 50px) !important;

            .modal-comment-box {
                max-height: calc(100vh - 395px) !important;
            }
        }
    }
}
