
@import 'compass';
@import 'variables';
@import 'mixins';

.crafter-social-view{
	@import 'bootstrap-sass/assets/stylesheets/bootstrap/_normalize';

	body {
	  padding: 5px;
	  font-size: $font-size-small;
	}

	p {
	  margin-top: 0;
	  margin-bottom: 5px;
	}
}



