<div class="file-wrapper">
	<img class="img-thumbnail file" data-action="viewAttachment" title="{{title}}" alt="{{title}}" src="{{src}}">
	{{#if showOverlay}}
        <div class="file-overlay">
			<span data-action="trashAttachment" class="crafter-social-icon cs-icon-trash"></span>
		</div>
    {{/if}}
</div>