<div class="crafter-social-view crafter-social-commentable-options">
    <ul class="desktop" style="display: none;">
        <li>
            <a id="socialCommentBadge" href="#" class="action" data-action="revealDiscussion" title="{{loc 'commentable.view-comment'}}"
               data-placement="auto">
                <i class="crafter-social-icon cs-icon-comment"></i> <span class="badge">{{count}}</span>
            </a>
        </li>
    </ul>

    <ul class="mobile" style="display: none;">
        <li>
            <a id="socialCommentBadge" href="#" class="" data-action="revealDiscussion" title="{{loc 'commentable.view-comment'}}"
               data-placement="auto">
                <i class="crafter-social-icon cs-icon-comment"></i> <span class="badge">{{count}}</span>
            </a>
        </li>
    </ul>
</div>
