<div class="panel panel-default">
    <div class="options-view-container pull-right"></div>
    <div class="panel-heading">
        <h4 class="panel-title">
            <span data-indentifyme="toggler">Discussion
            </span>
        </h4>
    </div>
    <div data-identifyme="panel" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="comments crafter-social-comment-thread"></div>
            <div class="create-comment-view reply-box"></div>
        </div>
    </div>
</div>
