
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">

                <div class="target-container"></div>

            </div>
            <div class="modal-comment-box">
                <h4 class="comment-box-title">Comments</h4>
                <div class="comments crafter-social-comment-thread">
                    <div class="no-comments">(no comments)</div>
                </div>
            </div>
            <footer class="modal-footer reply-box">

            </footer>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

