    <li>
        <a href="#" class="action" data-option="options.watch" data-action="watch" title="" data-placement="auto" data-original-title="Enable Notifications">
            <i class="crafter-social-icon crafter-social-fa-icon fa fa-bell-slash"></i> <span class="text">Enable Notifications</span>
        </a>
    </li>

    <li>
        <a data-option="refresh" data-action="refresh">
            <i class="crafter-social-icon cs-icon-refresh"></i> Refresh
        </a>
    </li>
    <li class="dropdown">
        <a data-option="options.menu" data-toggle="dropdown">
            <i class="crafter-social-icon cs-icon-sort"></i> Sorting
        </a>
        <ul class="dropdown-menu has-icons tip" role="menu" aria-labelledby="dLabel">
            <li >
                    <a data-action="sortBy(createdDate,DESC)">
                        <i class="crafter-social-icon cs-icon-calendar"></i>Newest First
                </a>
            </li>
            <li >
                <a >
                    <a  data-action="sortBy(createdDate,ASC)" >
                        <i class="crafter-social-icon cs-icon-calendar"></i>Oldest First
                    </a>
                </a>
            </li>
            <li>
                <a >
                    <a data-action="sortBy(votesUp,DESC)" >
                        <i class="crafter-social-icon cs-icon-heart-empty"></i>Most Popular
                    </a>
                </a>
            </li>
            </li>
        </ul>
    </li>
    <li>
        <a data-option="close" data-action="close">
            <i class="crafter-social-icon cs-icon-remove"></i> Close
        </a>
    </li>
