language: java
jdk:
  - oraclejdk8
branches:
  except:
    - travis
notifications:
  irc:
    channels:
      - "chat.freenode.net#craftercms"
    use_notice: true
    skip_join: true
  slack: craftersoftware:7YiSb41ZG5rfMgiAY7Qgprc7
env:
  global:
    - secure: "Ad8N6m3P5VCCLoJFswlc7jGmkLMhHm1WUOrj4MLJs2DPm5gTvRWHFprfoN1pGnHY6nVyxW1jQhpCepwQovSTVcYTdcgfLvY1Q4VMVEEGy2BUbfHH3fhduzlfsL/uatyyPP9gmPVVcf+jAsfuuAtPESAJa6zu5FjebjaXG76pdEk="
    - secure: "JpCwkoSRBRtg1A5gUPn94KL6nueu13XQ2DXGUyfWLgLJ+Yli6yctqHajP7w6R+XrAeDiUdOJqWJxSK3DraQjoaOgxa2GUo+vhbRxuuNdBoHChFfHUpsmbhVepXNWxBWJV5bznCpCZbCIgsA1N6rzPvz1xFpmWBBY0w5UZQTuab8="
before_install: "git clone -b travis `git config --get remote.origin.url` target/travis"
script:
  - 'if [[ "$TRAVIS_PULL_REQUEST" != "false" ]]; then bash -c  "mvn deploy --settings target/travis/settings.xml";  fi'
  - 'if [[ "$TRAVIS_PULL_REQUEST" = "false" ]]; then bash -c "mvn clean install" ;fi'
