<script id="ugcBlogTmpl" type="text/x-jquery-tmpl">
<div class="yui3-cssbase actions">
	<div class="line">
		<div class="unit size1of1">
			<a>Add Blog</a>
		</div>
	</div>
</div>
</script>
<script id="addUGCBlogTmpl" type="text/x-jquery-tmpl">
	
		<div class="line add-ugc-blog">
				<div class="unit size1of1 ugc-width-temp">
					<div class="fields-line">
					    <label id="titleLabel" for="title">Title:</label>	
						<input type="text" id="title" name="title" class="blog-title" placeholder="Title"/>
					</div>
					<div class="fields-line">
						<label id="imageLabel" for="image">Image:</label>	
						<input type="file" id="attachments" name="attachments" class="blog-image" placeholder="Image">
					</div>
					<div class="fields-line">
						<label id="contentLabel" for="image">Content:</label>	
						<textarea id="textContentField" name="textContentField"></textarea>
					</div>
					<div id="attachments-list" class="attachments-list"></div>
				</div>
				<div class="unit size1of1 actions fields-line">
					<label> </label>
					<a class="unit add-btn">Submit</a>
					<a class="unit cancel-btn">Cancel</a>
				</div>
		</div>
	
</script>