<script id="ugcListTmpl" type="text/x-jquery-tmpl">
<div class="bloglist ugc-list yui3-cssbase">
  
  <div class="top">
      <div class="pad">
        <nav>
          <ul class="main-nav clearfix">
            <li><span class="top-title">Blogs > Entries</span></li>
            <li><a href="#" id="newEntry" name="newEntry">New Entry</a></li>
            <!--<li><a href="#" id="newEntry" name="newEntry">New Entry</a></li>-->
			<li><a href="../entries_published" value="viewBlog" id="viewBlog" name="viewBlow">View Blog</a></li>
          </ul>
        </nav>
      </div>
   </div>
  <table id="mytable" class="blogg-posttable">
    <colgroup>
        <col>
        <col style="width: 6em;">
        <col style="width: 8em;">
        <col style="width: 15em;">
    </colgroup>
    <tbody style="">
      {{each list tmpl="ugcTmpl"}}
    </tbody>
  </table>
</div>
<div class="addUGCBlogPublish ugc-list yui3-cssbase" style="display:none">
    <div class="top">
        <div class="pad">
          <nav>
            <ul class="main-nav clearfix">
                <li><span class="top-title">Blogs > New Entry</span></li>
                 <li class="save"><a id="saveEntry" href="#" class="saveEntry" name="{{=id}}" id="{{=id}}">Save</a></li>
				<li class="edit"><a href="#" class="editEntry" name="{{=id}}" id="{{=id}}">Edit</a></li>
				<li class="update"><a href="#" class="updateEntry" name="{{=id}}" id="{{=id}}">Update</a></li>
				<li class="delete"><a href="#" class="deleteEntry" name="{{=id}}" id="{{=id}}">Delete</a></li>	
                <li class="close"><a href="#" class="closeEntry" id="close" name="close">Close</a></li>
              </ul>
              
          </nav>
        </div>
     </div>
     <div class="box pad style-inputs">
      <div class="errormsg" style="display:none"></div>
      <p>
        <label id="titleLabel" for="title">Title:</label> 
        <input type="text" id="titleEntry" name="titleEntry" class="blog-title" placeholder="Entry Title" style="width:270px;height: 20px;" value=""/>
      </p>
        <div id="editableContent" name="editableContent">
           <textarea id="textContentField" name="textContentField"></textarea> 
        </div>
     </div>
    
  </div>

</script>

<script id="ugcTmpl" type="text/x-jquery-tmpl">
   <tr class="trclass {{=moderationStatus}} entry-{{=id}}" id="entry-{{=id}}">
        <td class="blogg-posttable {{=moderationStatus}} entry-title"><a id="detailEntryBtn" href="#" name="{{=id}}">{{=textContent.title}}</a></td>
        <td class="blogg-posttable {{=moderationStatus}} entry-username"><a href="#" name="{{=profile.userName}}">{{=profile.userName}}</a></td>
        <td class="blogg-posttable {{=moderationStatus}} entry-msgs">
          <nav>
            <ul style="width: 50px; position: relative; display: table-cell;">
              <li style="margin-right:0px">{{=msgs-0 undef 0}}</li>
              <span class="blogg-image-tooltip"></span>
              </ul>
          </nav>
        </td>
        <td class="blogg-posttable {{=moderationStatus}} entry-moderation">
            <div class="post-moderation-state">
                <div class="ugc-article-actions {{=moderationStatus}}" id="{{=id}}">
                  <ul class="article-moderation-status">
                    <li>
                      <strong class="moderation-message">Moderation Status: {{=moderationStatus}}  </strong>
                    </li>
                    <li>
                      <a name="{{=id}}" id="approveModerationStatus" class="approve-link">Approve</a>
                    </li> 
                    <li>
                      <a name="{{=id}}" id="rejectModerationStatus" class="reject-link {{=moderationStatus}}">Reject</a>
                    </li> 
                  </ul>
                </div>
          </div>
        </td>
   </tr>
</script>