.#{$app-namespace}-auth-view {

  > .modal-dialog {

    width: 300px;
    left: 50%;
    margin-left: -150px;

    > .modal-content {

      > .modal-footer {
        margin-top: 0;
      }

    }

  }

}