@import "../variables";

// $commentable-shadow-color: color('#66afe9');
$commentable-shadow-color: $brand-primary;

.#{$app-namespace}-view.#{$app-namespace}-commentable-options {
  z-index: 1;
  position: absolute;

  > ul {
    @include opacity(.7);
    &:hover {
      @include opacity(1);
    }

    border: 2px solid rgba(
      red($commentable-shadow-color),
      green($commentable-shadow-color),
      blue($commentable-shadow-color), 0.5);
    border-style: none none solid solid;
    @include border-radius($border-radius-base);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
    list-style: none;
    padding-left: 0;
    margin: 0;

    > li {
      display: inline-block;

      a {
        padding: 5px;
        font-size: 15px;
        position: relative;
        display: block;

        &:hover {
          background-color: $popover-title-bg;
        }

        .badge {
            background-color: #ed1c24;
            position: absolute;
            font-weight: bold;
            font-size: 14px;
            padding: 4px 5px;
            line-height: 10px;
            right: 1px;
            top: -2px;
        }

      }

    }

  }

}

.#{$app-namespace}-commentable {

  position: relative;

    &.reveal .crafter-social-commentable-options ul {
        @include opacity(.7);

        &.desktop{
            display: none !important;
        }

        &.mobile {
            display: block !important;
        }

        @media only screen and (min-width: 768px) {
            &.mobile {
                display: none !important;
            }

            &.desktop{
                display: block !important;
            }

            &.desktop:hover {
                @include opacity(1);
            }
        }

        border: 2px solid rgba(
                red($commentable-shadow-color),
                green($commentable-shadow-color),
                blue($commentable-shadow-color), 0.5);
        border-style: none none solid solid;
        @include border-radius($border-radius-base);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #fff;
    }

  .badge {
    font-size: 16px;
    &:empty {
      display: none;
    }

  }
    .crafter-social-fa-icon{
        font-family: "FontAwesome";
        font-size: 30pt;
    }

  &.reveal,
  &.revealed-by-options,
  &.revealed-by-view {

    -webkit-transition: background 1s ease !important;
    -moz-transition: background 1s ease !important;
    -ms-transition: background 1s ease !important;
    -o-transition: background 1s ease !important;
    transition: background 1s ease !important;

    // overflow: hidden !important;
    border-radius: $border-radius-base !important;
  }

}

.crafter-social-commentable {
}
