
ul.#{$app-namespace}-view-options-view {

  margin-bottom: 0;

  &, .dropdown-menu,
  .dropdown-menu > li {
    list-style: none !important;
  }

  #{$html-elements} {
    font-size: $font-size-small;
  }

  > li {
    list-style-type: none !important;
    > a {
      display: block;
    }
  }

}