
.#{$app-namespace}-view {

  &, #{$html-elements} {

    font-size: $font-size-base;
    font-family: $font-family-base;
    color: $text-color;
    text-shadow: none;
    line-height: 1em;
    text-align: left;

    width: auto;
    height: auto;

    background: none;

    border: none;
    padding: 0;
    margin: 0;

  }

  .silhouette {
    width: 30px;
  }

  .crafter-social-logo {
    background-image: url('#{$crafter-software-logo-data-url}');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
  }

  // Reset
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_normalize';

  // Core CSS
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding';
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_type';
  h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_grid';
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_tables';
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_forms';
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_buttons';

  // Components
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_component-animations';
  @import '../icons';
  @import "bootstrap-sass/assets/stylesheets/bootstrap/_dropdowns";

  .dropdown-menu {
    &.tip {
      &:before {
        position: absolute;
        top: -7px;
        left: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
      }
      &::after {
        position: absolute;
        top: -6px;
        left: 10px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
      }
    }
    &.has-icons {
      > li {
        > a {
          position: relative;
          padding-left: 30px;
          i {
            top: 5px;
            left: 10px;
            line-height: 1;
            position: absolute;
          }
        }
      }
    }
  }

  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_button-groups';
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_input-groups';
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_badges';
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_alerts';
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_close';
  @import '../progress-bars';

  // Components w/ JavaScript
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_tooltip';
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_popovers';

  // Utility classes
  @import 'bootstrap-sass/assets/stylesheets/bootstrap/_utilities';

  a {

    cursor: pointer;
    color: $link-color;
    &:hover { color: $link-hover-color; }

    * { color: inherit; }

  }

  button.close {
    background: transparent;
    border: none;
  }

  @import 'comment-thread';

}
