
.#{$app-namespace}-view {

  &, #{$html-elements} {

    font-size: $font-size-base;
    font-family: $font-family-base;
    color: $text-color;
    text-shadow: none;
    line-height: 1em;
    text-align: left;

    width: auto;
    height: auto;

    background: none;

    border: none;
    padding: 0;
    margin: 0;

  }

  .silhouette {
    width: 30px;
  }

  .crafter-social-logo {
    background-image: url('#{$crafter-software-logo-data-url}');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
  }

  // Reset
  @import 'sass-bootstrap/lib/normalize';

  // Core CSS
  @import 'sass-bootstrap/lib/scaffolding';
  @import 'sass-bootstrap/lib/type';
  h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  @import 'sass-bootstrap/lib/grid';
  @import 'sass-bootstrap/lib/tables';
  @import 'sass-bootstrap/lib/forms';
  @import 'sass-bootstrap/lib/buttons';

  // Components
  @import 'sass-bootstrap/lib/component-animations';
  @import '../icons';
  @import "sass-bootstrap/lib/dropdowns";

  .dropdown-menu {
    &.tip {
      &:before {
        position: absolute;
        top: -7px;
        left: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
      }
      &::after {
        position: absolute;
        top: -6px;
        left: 10px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
      }
    }
    &.has-icons {
      > li {
        > a {
          position: relative;
          padding-left: 30px;
          i {
            top: 5px;
            left: 10px;
            line-height: 1;
            position: absolute;
          }
        }
      }
    }
  }

  @import 'sass-bootstrap/lib/button-groups';
  @import 'sass-bootstrap/lib/input-groups';
  @import 'sass-bootstrap/lib/badges';
  @import 'sass-bootstrap/lib/alerts';
  @import 'sass-bootstrap/lib/close';
  @import '../progress-bars';

  // Components w/ JavaScript
  @import 'sass-bootstrap/lib/tooltip';
  @import 'sass-bootstrap/lib/popovers';

  // Utility classes
  @import 'sass-bootstrap/lib/utilities';

  a {

    cursor: pointer;
    color: $link-color;
    &:hover { color: $link-hover-color; }

    * { color: inherit; }

  }

  button.close {
    background: transparent;
    border: none;
  }

  @import 'comment-thread';

}