<div class="container-fluid">
    <div class="row-fluid">

        <main role="main" class="span12">
            <nav>
                <ul class="nav nav-tabs">
                    <li status data-status="UNMODERATED">
                        <a href="#/status/unmoderated">Unmoderated</a>
                    </li>
                    <li status data-status="APPROVED">
                        <a href="#/status/approved">Approved</a>
                    </li>
                    <li status data-status="PENDING">
                        <a href="#/status/pending">pending</a>
                    </li>
                    <li status data-status="TRASH">
                        <a href="#/status/trash">Trash</a>
                    </li>
                    <li status data-status="SPAM">
                        <a href="#/status/spam">Spam</a>
                    </li>
                </ul>
            </nav>

            <ul>
                <li ng-repeat="ugc in ugcList">
                    <h2>{{ugc.title}}</h2>
                    <div ng-bind-html-unsafe="ugc.textContent"></div>
                    <p>{{ugc.moderationStatus}}</p>

                    <moderation-action ugcid="{{ugc.id}}" modstatus="{{ugc.moderationStatus}}"></moderation-action>
                </li>
            </ul>
        </main>
    </div>
</div>