<div class="container-fluid">
    <div class="row-fluid">

        <main role="main" class="span12">
            <nav>
                <moderation-status>
                </moderation-status>
            </nav>

            <div class="bulk-actions">
                <select name="bulkActions" id="bulkActions">
                    <option value="0">Bulk Actions</option>
                    <option ng-repeat="action in moderationActions" value="{{action}}">{{action}}</option>
                </select>
                <button class="btn entries-list-btn" ng-click="bulkUpdate()">Apply</button>
            </div>

            <div class="heading-wrapper row-fluid">
                <span class="span1">
                    <input type="checkbox" selectallugcs />
                </span>
                <span class="span4 title">
                    Author
                </span>
                <span class="span7 title">
                    Comment
                </span>
            </div>

            <ul class="unstyled entries-list">
                <li ng-repeat="ugc in ugcList" class="row-fluid">
                    <div class="span1">
                        <input ugcid="{{ugc.id}}" type="checkbox"/>
                    </div>

                    <div class="span4 user-profile">
                        <user-profile class="row-fluid"></user-profile>
                    </div>

                    <article class="span7">
                        <div class="entry-wrapper">
                            <h4>{{ugc.title}}</h4>
                            <div ng-bind-html-unsafe="ugc.textContent"></div>
                        </div>
                    </article>

                    <moderation-action class="clearfix span12" ugcid="{{ugc.id}}" modstatus="{{ugc.moderationStatus}}"></moderation-action>
                </li>
            </ul>
        </main>
    </div>
</div>