.sign-in {
  /*float: right;*/
  width: 335px;
}

.signin-box {
  background: none repeat scroll 0 0 #F1F1F1;
  border: 1px solid #E5E5E5;
  /*margin: 12px 0 0;*/
  padding: 20px 25px 15px;
  margin-top: 40px;
}

.signin-box h2 {
  font-size: 16px;
  height: 16px;
  line-height: 17px;
  margin: 0 0 1.2em;
  position: relative;
}

.errormsg {
    color: #DD4B39;
    display: block;
    line-height: 17px;
    margin: 0.5em 0 0;
}

h1.company-title {
	font-size: 1.8em;
	margin: 1em 0;
}

#header h1 {
	color: #ED6710;
	background-color: #FFFFFF;
	font-size: 18px;
	line-height: 18px;
	height: 16px;
	padding: 0 15px;
	position: relative;
	top:20px;
	margin: 0 0 1.2em;
}

#heading {
	float: left;
	width: 350px;
}

#header a.logo {
	background: url("../img/logo.png?img_id=10290&amp;t=1349974701037")
		no-repeat scroll 0 0 transparent;
	display: block;
    font-size: 0;
    height: 190px;
    position: relative;
    text-indent: -9999em;
    top: 20px;
    width: 300px;
}

#content {
	background: none repeat scroll 0 0 #FFFFFF;
	min-height: 600px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	width: 940px;
}

#banner,#content,#footer .inner,#footer .copy-right,#topLinks .links-tab,#breadcrumbs
	{
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	min-height: 850px;
	padding: 0 15px;
	position: relative;
	width: 940px;
}

.logout-success {
	color: #093;
}

.login-error {
	color: #F00;
 }

#index-center {
	margin: 10px;
}

#index-footer {
	margin-left: 5px;
	color: white;
	font-family: Adobe Garamond,Georgia,sans-serif;
}

.text-content-min {
	margin-top: 4px;
	margin-bottom: 4px;
	height: 50px; 
	width: 100%;
	border-style: dashed;
	border-width: 1px;
	border-color: #dfdfdf;
	overflow: auto;
}

.text-content-max {
	margin-top: 4px;
	margin-bottom: 4px;
	height: 200px; 
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	overflow: auto;
	background-color: white;
}

.text-content-detail {
	margin-bottom: 4px;
	height: 200px; 
	width: 490px;
	border: 1px solid black;
	background-color: #fff;
	overflow: auto; 
}

.form-label {
	color: #767676;   
}

.toolbar-btn {
	margin: 3px; 
	vertical-align: middle;	
}

.audit-img {
	margin-top: 2px;
	margin-bottom: 2px;
}

.thread-container {
	margin-top: 4px;
	margin-bottom: 4px;
	width: 100%;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	overflow: auto;
	display: none;

}

.thread-title {
	margin-top: 2px;
	margin-left: 2px;
	margin-bottom: 8px;
	font-style: italic;
	color: #767676; 
}

.thread-item {
	margin-right: 10px;
	margin-top: 10px;
}

.text-thread {
	margin-bottom: 1px;
	height: 40px; 
	border-style: dashed;
	border-width: 1px;
	border-color: #dfdfdf;
	overflow: auto;
	background-color: white;
}

.audit-container {
	width: 95%;
	height: 99%;
	margin: 5px;
	overflow: auto;
}

.audit-item {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #dfdfdf;	
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
}