/* global */
h4 {
    color: #555;
    margin-top: 0;
}

p {
    margin: 0 0 5px;
}

body {
    font-size: 12px;
    line-height: 18px;
}

select {
    margin: 0;
}

/* ugc styles */
.entries-list li {
    margin: 0 0 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid #ddd;
}

.entries-list-btn {
    margin: 0 0 0 15px;
}

.entries-list input {
    margin: 0 0 0 10px;
    padding: 0;
}

/* bulk actions */
.bulk-actions {
    margin: 0 0 5px;
}

/* columns length */
.row-fluid .col1 {
    width: 1.382978723404255%
}

.row-fluid .col2 {
    width: 19.893617021276595%;
    margin-left: 1.127659574468085%;
}

/* author section */
.author-section dl {
    margin: 0;
}

/* comment */
.entry-wrapper {
    padding: 5px;
    background: #f6f6f6;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.moderation-buttons {
    margin: 10px 0 0;
}

.moderation-buttons .btn {
    padding: 0 8px;
    font-size: 12px;
}
.comment-section .btn-group {
    margin-top: 5px;
}

.last-update {
    font-size: 11px;
    color: #7f8c8d;
}

/* header */
.heading-wrapper {
    background: #f4f6f6;
    margin: 0 0 10px;
}

.heading-wrapper input {
    height: 30px;
    margin: 0 0 0 10px;
    padding: 0;
}

.heading-wrapper .title {
    color: #336699;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}

/*  alerts messages */
.hide-error {
    display: none;
}

/* expand collapse ugc */
.entry-wrapper {
    cursor: pointer;
}