
<div class="arrow"></div>
<header>
    <button class="close">
        <span>&times;</span>
    </button>
</header>
<div class="comments crafter-social-comment-thread">
    <div class="no-comments">(no comments)</div>
</div>
<footer class="reply-box">
    <div class="textarea">
        <textarea class="editor" rows="1"></textarea>
    </div>
    <div class="actions">
        <button class="reply btn btn-primary btn-xs" data-action-comment>
            submit
        </button>
    </div>
</footer>
