@import "../variables";

$popover-font-size: 12px;

.#{$app-namespace}-comment-thread {
  padding: 5px;
  min-height: 35px;

  .no-comments {
    padding: 10px 20px;
    text-align: center;
    color: $text-muted;
  }

  &:empty:before {
    position: relative;
    text-align: center;
    display: block;
    top: 10px;
    content: "(no comments so far)";
    color: #d9d9d9;
  }

  .#{$app-namespace}-comment {
    position: relative;
    border-bottom: 1px solid darken($popover-title-bg, 5%);
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
      footer {

      }
    }

    /*#{$main-elements} {
      font-size: $font-size-base;
    }*/

    .body-wrapper {
      position: relative;
      padding-left: 35px;
      @include clearfix();

      [class*="-flag"] {
        color: lighten($color-crimson, 15%);
        &:hover {
          color: $color-crimson;
        }
      }

      .avatar {
        position: absolute;
        left: 0;
        top: 0;
      }

      .comment-data {

        header {
          padding: 0;
          margin: 0 0 5px 0;
          border-radius: 0;

          strong {

          }

          small {
            font-size: 0.8em;
            color: $headings-small-color;
          }

        }

        .comment-body {
          p {
            margin-bottom: 0;

            &:last-child {
              margin-bottom: 0;
            }

          }
        }

      }

    }

    footer {

      @include clearfix();
      #{$main-elements} { font-size: $font-size-small }
      margin: 5px 0 0 0;
      padding: 0;

      > ul {
        > li {
          padding-left: 0;
        }
      }

    }

    .comment-children {
      border-left: 2px solid darken($popover-title-bg, 20%);
      padding: 5px 0 0 5px;

      &:empty {
        display: none;
      }

    }

    ul {
      margin-bottom: 0;
      font-size: .9em;
    }

    * {
      max-width: 100%;
    }

  }

}
