@import "../variables";

$popover-font-size: 12px;

.#{$app-namespace}-comment-thread {
    padding: 5px;
    min-height: 35px;

    .no-comments {
        padding: 10px 20px;
        text-align: center;
        color: $text-muted;
    }

    &:empty:before {
        position: relative;
        text-align: center;
        display: block;
        top: 10px;
        content: "(no comments so far)";
        color: #d9d9d9;
    }

    .#{$app-namespace}-comment {
        position: relative;
        border-bottom: 1px solid darken($popover-title-bg, 5%);
        margin: 0 0 5px 0;
        padding: 0 0 5px 0;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
            footer {

            }
        }

        /*#{$main-elements} {
          font-size: $font-size-base;
        }*/

        .comment-actions {

            .vote-up-count,
            .vote-down-count {
                font-weight: bold;
            }

            .vote-up-count {
                color: $brand-success;
            }

            .vote-down-count {
                color: $brand-danger;
            }

        }

        .status-messages {
            padding: 5px 0 0;
        }

        .comment-flagged {
            header {
                .cs-icon-flag {
                    color: lighten($color-crimson, 15%);
                }
            }
        }

        .comment-trashed {
            header {
                .cs-icon-trash {
                    color: lighten($color-crimson, 15%);
                }
            }
        }

        .body-wrapper {
            position: relative;
            padding-left: 35px;
            @include clearfix();

            .avatar {
                border-radius: 100%;
                position: absolute;
                overflow: hidden;
                left: 0;
                top: 0;
            }

            .bar {
                height: 18px;
                background: green;
            }

            .btn-file {
                position: relative;
                overflow: hidden;
            }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                background: red;
                cursor: inherit;
                display: block;
            }

            input[readonly] {
                background-color: white !important;
                cursor: text !important;
            }

            .avatarChange {
                position: absolute;
                top: 14px;
                left: 0px;
            }

            .comment-data {

                header {
                    padding: 0;
                    margin: 0 0 5px 0;
                    border-radius: 0;

                    strong {

                    }

                    small {
                        font-size: 0.8em;
                        color: $headings-small-color;
                    }

                    .option {
                        margin-right: 5px;
                        a:hover,
                        &:hover {
                            color: $color-crimson;
                        }
                    }

                }

                .comment-body {
                    p {
                        margin-bottom: 5px;

                        &:last-child {
                            margin-bottom: 0;
                        }

                    }
                    ul {
                        padding-left: 20px;
                        margin-bottom: 5px;
                    }
                }

                .editor {
                    padding: 5px;
                    display: none;
                    box-shadow: 0 0 5px #999;
                    &.cke_focus {
                        box-shadow: none;
                    }
                }

                .edit-controls {
                    display: none;
                    position: relative;
                    padding-left: 10px;
                }

                &.editing {
                    .option {
                        display: none;
                    }
                    .editor,
                    .edit-controls {
                        display: block;
                    }
                    .content-wrapper {
                        display: none;
                    }
                }

            }

        }

        footer {

            @include clearfix();
            #{$main-elements} {
                font-size: $font-size-small
            }
            margin: 5px 0 0 0;
            padding: 0;

            > ul {
                > li {
                    padding-left: 0;
                }
            }

            .like-data {
                margin-top: 2px;
            }

        }

        .comment-children {
            border-left: 2px solid darken($popover-title-bg, 20%);
            padding: 5px 0 0 5px;

            &:empty {
                display: none;
            }

        }

        ul {
            margin-bottom: 0;
            font-size: .9em;
        }

        * {
            max-width: 100%;
        }

    }

}
