.create-comment-view {
  padding: 5px;

  .actions {
    text-align: left;
  }

  .textarea {

    &.editor-mode-inline {
      padding: 5px;
      min-height: 24px;
      border: 1px solid $input-group-addon-border-color;
    }

    margin-bottom: 5px;
    background-color: #fff;

    > textarea {
      border: none;
      resize: none;
      width: 100%;
    }

    > div {
      min-height: 1em;
    }

    *:focus {
      outline: none;
    }

    p {

      margin-bottom: 0;

      &:last-child {

      }

    }

    ul, ol {
      margin-bottom: 5px;
      padding-left: 20px;
    }

  }

  button {
    height: auto;
    width: auto;
  }

}