
.#{$app-namespace}-view.#{$app-namespace}-inline-view {

  @import "sass-bootstrap/lib/panels";

  .panel-heading {
    padding: 0;

    a {
      padding: 10px 15px;
      display: block;

      &:before {
        top: 1px;
        left: -5px;
        position: relative;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &:empty { width: 1em; }

      }

      &.opened:before {
        //content: "\2212";
        //content: "\e080";
        content: "\e113";
      }

      &.closed:before {
        //content: "\2b";
        content: "\e114";
      }

    }

  }

  .panel-body {
    padding: 5px;
  }

}