
// TODO find a way of embeding this into the lightbox view instead of the CSS "global scope"

.#{$app-namespace}-lightbox-view {

  > .modal-dialog {
    padding: 10px;

    @media (min-width: 780px) {
      width: 600px;
    }

    > .modal-content {

      > .modal-header {

        > .modal-title {
          font-size: 20px;
          margin: 0;
        }

      }

      > .modal-comment-box {

        .comment-box-title {
          margin: 0;
          padding: 5px 20px;
          font-size: $font-size-large;
          border-bottom: 1px solid $popover-border-color;
          border-top-left-radius: $border-radius-large;
          border-top-right-radius: $border-radius-large;
          background: #fff;
          color: #000;
        }

      }

      > .modal-body {

        > .target-container {
          text-align: center;
          margin: 20px;
        }

      }

      > .modal-footer {
        @extend .create-comment-view;
        margin-top: 0;

        &, .actions {
          text-align: left;
          font-size: $font-size-small;
        }

      }

    }

  }

}

.#{$app-namespace}-lightbox-backdrop {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: ($zindex-modal-background - 10);
  background-color: $modal-backdrop-bg;
  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity(.5); }

}