.#{$app-namespace}-modal-view {

  @import 'sass-bootstrap/lib/modals';

  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    @include translate(0, -25%);
    @include transition-transform(0.3s ease-out);
  }

  &.in .modal-dialog { @include translate(0, 0)}

  > .modal-dialog {

    > .modal-content {

      > .modal-footer {
        margin-top: 0;
      }

    }

  }

}

.#{$app-namespace}-modal-view-backdrop {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: ($zindex-modal-background - 10);
  background-color: $modal-backdrop-bg;
  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity(.5); }

}