
//$controls-theme-main-colour: #FFF6C6;
//$controls-theme-font-colour: $brand-primary;

$controls-theme-main-colour: #404041;
$controls-theme-font-colour: #FFFFFF;

.#{$app-namespace}-bar {
  z-index: 2;
  overflow : auto;
  font-size: $font-size-small;

  background-color: $controls-theme-main-colour;
  border: 1px solid $popover-border-color;

  border-bottom-style: none;
  position: fixed;

  p, div {
    color: $controls-theme-font-colour;
  }

  // Default (&)
  // bottom right
  &, &.socialbar-br {
    border-top-left-radius:  $border-radius-base;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: auto;
    right: 0;
    bottom: -1px;
    left: auto;
  }

  // bottom left
  &.socialbar-bl {
    border-top-left-radius: 0;
    border-top-right-radius: $border-radius-base;
    border-bottom-left-radius: 0;
    border-bottom-right-radius:  0;
    top: auto;
    right: auto;
    bottom: -1px;
    left: 1px;
  }

  // top left
  &.socialbar-tl {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: $border-radius-base;
    top: 0;
    right: auto;
    bottom: auto;
    left: 1px;
  }

  // top right
  &.socialbar-tr {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: 0;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
  }

  > .social-utilities {
    margin: 0;
    overflow: auto;
    padding-left: 0;
    list-style-type: none;
    list-style-position: none;
    list-style-image: none;

    > li {
      padding: 0;
      display: inline-block;
      border-right: 1px solid $popover-border-color;
      border-bottom: 1px solid $popover-border-color;

      > .control-element {
        background-color: transparent;
        background-image: url("#{$crafter-software-logo-data-url}");
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-tap-highlight-color: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        outline: none;
        border: none;
      }

      + li {
        margin-left: -3px;
      }

      &:last-child {
        border-right: none;
      }

      a,
      > .control-element {
        padding: 5px 10px;
        display: block;
        color: $controls-theme-font-colour;

        &.active,
        &:hover {
          background-color: lighten($controls-theme-main-colour, 10%);
        }

      }

    }
  }

  &.collapsed {
    > .social-utilities {
      > li {
        > .control-element {
          // padding: 20px;
        }
        &.subordinate {
          display: none;
        }
      }
    }
  }

  .#{$app-namespace}-bar-form {
    color: $controls-theme-font-colour;
    padding: 10px;

    .form-group:last-of-type {
      margin-bottom: 0;
    }

    .alert {
      padding: 5px 15px;
    }

  }

  .rate-form {

    button {

    }

    table {
      margin-bottom: 5px;

      th, td {
        text-align: center;
      }

      thead {

      }

      tbody {
        tr {
          th {
            text-align: right;
          }
        }
      }

    }

  }

  .#{$app-namespace}-bar-rate {

    i {
      font-size: 20px;

      &.glyphicon-star {
        color: #FFF6C6;
      }
    }

  }

}

.has-csocial-page-controls {
  padding-bottom: 2.5em !important;
}