
// Catchall baseclass
.#{$icon-base-class} {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:empty {
    width: 1em;
  }
}

// Individual icons
.#{$icon-item-class}-asterisk               { &:before { content: "\2a"; } }
.#{$icon-item-class}-plus                   { &:before { content: "\2b"; } }
.#{$icon-item-class}-euro                   { &:before { content: "\20ac"; } }
.#{$icon-item-class}-minus                  { &:before { content: "\2212"; } }
.#{$icon-item-class}-cloud                  { &:before { content: "\2601"; } }
.#{$icon-item-class}-envelope               { &:before { content: "\2709"; } }
.#{$icon-item-class}-pencil                 { &:before { content: "\270f"; } }
.#{$icon-item-class}-glass                  { &:before { content: "\e001"; } }
.#{$icon-item-class}-music                  { &:before { content: "\e002"; } }
.#{$icon-item-class}-search                 { &:before { content: "\e003"; } }
.#{$icon-item-class}-heart                  { &:before { content: "\e005"; } }
.#{$icon-item-class}-star                   { &:before { content: "\e006"; } }
.#{$icon-item-class}-star-empty             { &:before { content: "\e007"; } }
.#{$icon-item-class}-user                   { &:before { content: "\e008"; } }
.#{$icon-item-class}-film                   { &:before { content: "\e009"; } }
.#{$icon-item-class}-th-large               { &:before { content: "\e010"; } }
.#{$icon-item-class}-th                     { &:before { content: "\e011"; } }
.#{$icon-item-class}-th-list                { &:before { content: "\e012"; } }
.#{$icon-item-class}-ok                     { &:before { content: "\e013"; } }
.#{$icon-item-class}-remove                 { &:before { content: "\e014"; } }
.#{$icon-item-class}-zoom-in                { &:before { content: "\e015"; } }
.#{$icon-item-class}-zoom-out               { &:before { content: "\e016"; } }
.#{$icon-item-class}-off                    { &:before { content: "\e017"; } }
.#{$icon-item-class}-signal                 { &:before { content: "\e018"; } }
.#{$icon-item-class}-cog                    { &:before { content: "\e019"; } }
.#{$icon-item-class}-trash                  { &:before { content: "\e020"; } }
.#{$icon-item-class}-home                   { &:before { content: "\e021"; } }
.#{$icon-item-class}-file                   { &:before { content: "\e022"; } }
.#{$icon-item-class}-time                   { &:before { content: "\e023"; } }
.#{$icon-item-class}-road                   { &:before { content: "\e024"; } }
.#{$icon-item-class}-download-alt           { &:before { content: "\e025"; } }
.#{$icon-item-class}-download               { &:before { content: "\e026"; } }
.#{$icon-item-class}-upload                 { &:before { content: "\e027"; } }
.#{$icon-item-class}-inbox                  { &:before { content: "\e028"; } }
.#{$icon-item-class}-play-circle            { &:before { content: "\e029"; } }
.#{$icon-item-class}-repeat                 { &:before { content: "\e030"; } }
.#{$icon-item-class}-refresh                { &:before { content: "\e031"; } }
.#{$icon-item-class}-list-alt               { &:before { content: "\e032"; } }
.#{$icon-item-class}-lock                   { &:before { content: "\e033"; } }
.#{$icon-item-class}-flag                   { &:before { content: "\e034"; } }
.#{$icon-item-class}-headphones             { &:before { content: "\e035"; } }
.#{$icon-item-class}-volume-off             { &:before { content: "\e036"; } }
.#{$icon-item-class}-volume-down            { &:before { content: "\e037"; } }
.#{$icon-item-class}-volume-up              { &:before { content: "\e038"; } }
.#{$icon-item-class}-qrcode                 { &:before { content: "\e039"; } }
.#{$icon-item-class}-barcode                { &:before { content: "\e040"; } }
.#{$icon-item-class}-tag                    { &:before { content: "\e041"; } }
.#{$icon-item-class}-tags                   { &:before { content: "\e042"; } }
.#{$icon-item-class}-book                   { &:before { content: "\e043"; } }
.#{$icon-item-class}-bookmark               { &:before { content: "\e044"; } }
.#{$icon-item-class}-print                  { &:before { content: "\e045"; } }
.#{$icon-item-class}-camera                 { &:before { content: "\e046"; } }
.#{$icon-item-class}-font                   { &:before { content: "\e047"; } }
.#{$icon-item-class}-bold                   { &:before { content: "\e048"; } }
.#{$icon-item-class}-italic                 { &:before { content: "\e049"; } }
.#{$icon-item-class}-text-height            { &:before { content: "\e050"; } }
.#{$icon-item-class}-text-width             { &:before { content: "\e051"; } }
.#{$icon-item-class}-align-left             { &:before { content: "\e052"; } }
.#{$icon-item-class}-align-center           { &:before { content: "\e053"; } }
.#{$icon-item-class}-align-right            { &:before { content: "\e054"; } }
.#{$icon-item-class}-align-justify          { &:before { content: "\e055"; } }
.#{$icon-item-class}-list                   { &:before { content: "\e056"; } }
.#{$icon-item-class}-indent-left            { &:before { content: "\e057"; } }
.#{$icon-item-class}-indent-right           { &:before { content: "\e058"; } }
.#{$icon-item-class}-facetime-video         { &:before { content: "\e059"; } }
.#{$icon-item-class}-picture                { &:before { content: "\e060"; } }
.#{$icon-item-class}-map-marker             { &:before { content: "\e062"; } }
.#{$icon-item-class}-adjust                 { &:before { content: "\e063"; } }
.#{$icon-item-class}-tint                   { &:before { content: "\e064"; } }
.#{$icon-item-class}-edit                   { &:before { content: "\e065"; } }
.#{$icon-item-class}-share                  { &:before { content: "\e066"; } }
.#{$icon-item-class}-check                  { &:before { content: "\e067"; } }
.#{$icon-item-class}-move                   { &:before { content: "\e068"; } }
.#{$icon-item-class}-step-backward          { &:before { content: "\e069"; } }
.#{$icon-item-class}-fast-backward          { &:before { content: "\e070"; } }
.#{$icon-item-class}-backward               { &:before { content: "\e071"; } }
.#{$icon-item-class}-play                   { &:before { content: "\e072"; } }
.#{$icon-item-class}-pause                  { &:before { content: "\e073"; } }
.#{$icon-item-class}-stop                   { &:before { content: "\e074"; } }
.#{$icon-item-class}-forward                { &:before { content: "\e075"; } }
.#{$icon-item-class}-fast-forward           { &:before { content: "\e076"; } }
.#{$icon-item-class}-step-forward           { &:before { content: "\e077"; } }
.#{$icon-item-class}-eject                  { &:before { content: "\e078"; } }
.#{$icon-item-class}-chevron-left           { &:before { content: "\e079"; } }
.#{$icon-item-class}-chevron-right          { &:before { content: "\e080"; } }
.#{$icon-item-class}-plus-sign              { &:before { content: "\e081"; } }
.#{$icon-item-class}-minus-sign             { &:before { content: "\e082"; } }
.#{$icon-item-class}-remove-sign            { &:before { content: "\e083"; } }
.#{$icon-item-class}-ok-sign                { &:before { content: "\e084"; } }
.#{$icon-item-class}-question-sign          { &:before { content: "\e085"; } }
.#{$icon-item-class}-info-sign              { &:before { content: "\e086"; } }
.#{$icon-item-class}-screenshot             { &:before { content: "\e087"; } }
.#{$icon-item-class}-remove-circle          { &:before { content: "\e088"; } }
.#{$icon-item-class}-ok-circle              { &:before { content: "\e089"; } }
.#{$icon-item-class}-ban-circle             { &:before { content: "\e090"; } }
.#{$icon-item-class}-arrow-left             { &:before { content: "\e091"; } }
.#{$icon-item-class}-arrow-right            { &:before { content: "\e092"; } }
.#{$icon-item-class}-arrow-up               { &:before { content: "\e093"; } }
.#{$icon-item-class}-arrow-down             { &:before { content: "\e094"; } }
.#{$icon-item-class}-share-alt              { &:before { content: "\e095"; } }
.#{$icon-item-class}-resize-full            { &:before { content: "\e096"; } }
.#{$icon-item-class}-resize-small           { &:before { content: "\e097"; } }
.#{$icon-item-class}-exclamation-sign       { &:before { content: "\e101"; } }
.#{$icon-item-class}-gift                   { &:before { content: "\e102"; } }
.#{$icon-item-class}-leaf                   { &:before { content: "\e103"; } }
.#{$icon-item-class}-fire                   { &:before { content: "\e104"; } }
.#{$icon-item-class}-eye-open               { &:before { content: "\e105"; } }
.#{$icon-item-class}-eye-close              { &:before { content: "\e106"; } }
.#{$icon-item-class}-warning-sign           { &:before { content: "\e107"; } }
.#{$icon-item-class}-plane                  { &:before { content: "\e108"; } }
.#{$icon-item-class}-calendar               { &:before { content: "\e109"; } }
.#{$icon-item-class}-random                 { &:before { content: "\e110"; } }
.#{$icon-item-class}-comment                { &:before { content: "\e111"; } }
.#{$icon-item-class}-magnet                 { &:before { content: "\e112"; } }
.#{$icon-item-class}-chevron-up             { &:before { content: "\e113"; } }
.#{$icon-item-class}-chevron-down           { &:before { content: "\e114"; } }
.#{$icon-item-class}-retweet                { &:before { content: "\e115"; } }
.#{$icon-item-class}-shopping-cart          { &:before { content: "\e116"; } }
.#{$icon-item-class}-folder-close           { &:before { content: "\e117"; } }
.#{$icon-item-class}-folder-open            { &:before { content: "\e118"; } }
.#{$icon-item-class}-resize-vertical        { &:before { content: "\e119"; } }
.#{$icon-item-class}-resize-horizontal      { &:before { content: "\e120"; } }
.#{$icon-item-class}-hdd                    { &:before { content: "\e121"; } }
.#{$icon-item-class}-bullhorn               { &:before { content: "\e122"; } }
.#{$icon-item-class}-bell                   { &:before { content: "\e123"; } }
.#{$icon-item-class}-certificate            { &:before { content: "\e124"; } }
.#{$icon-item-class}-thumbs-up              { &:before { content: "\e125"; } }
.#{$icon-item-class}-thumbs-down            { &:before { content: "\e126"; } }
.#{$icon-item-class}-hand-right             { &:before { content: "\e127"; } }
.#{$icon-item-class}-hand-left              { &:before { content: "\e128"; } }
.#{$icon-item-class}-hand-up                { &:before { content: "\e129"; } }
.#{$icon-item-class}-hand-down              { &:before { content: "\e130"; } }
.#{$icon-item-class}-circle-arrow-right     { &:before { content: "\e131"; } }
.#{$icon-item-class}-circle-arrow-left      { &:before { content: "\e132"; } }
.#{$icon-item-class}-circle-arrow-up        { &:before { content: "\e133"; } }
.#{$icon-item-class}-circle-arrow-down      { &:before { content: "\e134"; } }
.#{$icon-item-class}-globe                  { &:before { content: "\e135"; } }
.#{$icon-item-class}-wrench                 { &:before { content: "\e136"; } }
.#{$icon-item-class}-tasks                  { &:before { content: "\e137"; } }
.#{$icon-item-class}-filter                 { &:before { content: "\e138"; } }
.#{$icon-item-class}-briefcase              { &:before { content: "\e139"; } }
.#{$icon-item-class}-fullscreen             { &:before { content: "\e140"; } }
.#{$icon-item-class}-dashboard              { &:before { content: "\e141"; } }
.#{$icon-item-class}-paperclip              { &:before { content: "\e142"; } }
.#{$icon-item-class}-heart-empty            { &:before { content: "\e143"; } }
.#{$icon-item-class}-link                   { &:before { content: "\e144"; } }
.#{$icon-item-class}-phone                  { &:before { content: "\e145"; } }
.#{$icon-item-class}-pushpin                { &:before { content: "\e146"; } }
.#{$icon-item-class}-usd                    { &:before { content: "\e148"; } }
.#{$icon-item-class}-gbp                    { &:before { content: "\e149"; } }
.#{$icon-item-class}-sort                   { &:before { content: "\e150"; } }
.#{$icon-item-class}-sort-by-alphabet       { &:before { content: "\e151"; } }
.#{$icon-item-class}-sort-by-alphabet-alt   { &:before { content: "\e152"; } }
.#{$icon-item-class}-sort-by-order          { &:before { content: "\e153"; } }
.#{$icon-item-class}-sort-by-order-alt      { &:before { content: "\e154"; } }
.#{$icon-item-class}-sort-by-attributes     { &:before { content: "\e155"; } }
.#{$icon-item-class}-sort-by-attributes-alt { &:before { content: "\e156"; } }
.#{$icon-item-class}-unchecked              { &:before { content: "\e157"; } }
.#{$icon-item-class}-expand                 { &:before { content: "\e158"; } }
.#{$icon-item-class}-collapse-down          { &:before { content: "\e159"; } }
.#{$icon-item-class}-collapse-up            { &:before { content: "\e160"; } }
.#{$icon-item-class}-log-in                 { &:before { content: "\e161"; } }
.#{$icon-item-class}-flash                  { &:before { content: "\e162"; } }
.#{$icon-item-class}-log-out                { &:before { content: "\e163"; } }
.#{$icon-item-class}-new-window             { &:before { content: "\e164"; } }
.#{$icon-item-class}-record                 { &:before { content: "\e165"; } }
.#{$icon-item-class}-save                   { &:before { content: "\e166"; } }
.#{$icon-item-class}-open                   { &:before { content: "\e167"; } }
.#{$icon-item-class}-saved                  { &:before { content: "\e168"; } }
.#{$icon-item-class}-import                 { &:before { content: "\e169"; } }
.#{$icon-item-class}-export                 { &:before { content: "\e170"; } }
.#{$icon-item-class}-send                   { &:before { content: "\e171"; } }
.#{$icon-item-class}-floppy-disk            { &:before { content: "\e172"; } }
.#{$icon-item-class}-floppy-saved           { &:before { content: "\e173"; } }
.#{$icon-item-class}-floppy-remove          { &:before { content: "\e174"; } }
.#{$icon-item-class}-floppy-save            { &:before { content: "\e175"; } }
.#{$icon-item-class}-floppy-open            { &:before { content: "\e176"; } }
.#{$icon-item-class}-credit-card            { &:before { content: "\e177"; } }
.#{$icon-item-class}-transfer               { &:before { content: "\e178"; } }
.#{$icon-item-class}-cutlery                { &:before { content: "\e179"; } }
.#{$icon-item-class}-header                 { &:before { content: "\e180"; } }
.#{$icon-item-class}-compressed             { &:before { content: "\e181"; } }
.#{$icon-item-class}-earphone               { &:before { content: "\e182"; } }
.#{$icon-item-class}-phone-alt              { &:before { content: "\e183"; } }
.#{$icon-item-class}-tower                  { &:before { content: "\e184"; } }
.#{$icon-item-class}-stats                  { &:before { content: "\e185"; } }
.#{$icon-item-class}-sd-video               { &:before { content: "\e186"; } }
.#{$icon-item-class}-hd-video               { &:before { content: "\e187"; } }
.#{$icon-item-class}-subtitles              { &:before { content: "\e188"; } }
.#{$icon-item-class}-sound-stereo           { &:before { content: "\e189"; } }
.#{$icon-item-class}-sound-dolby            { &:before { content: "\e190"; } }
.#{$icon-item-class}-sound-5-1              { &:before { content: "\e191"; } }
.#{$icon-item-class}-sound-6-1              { &:before { content: "\e192"; } }
.#{$icon-item-class}-sound-7-1              { &:before { content: "\e193"; } }
.#{$icon-item-class}-copyright-mark         { &:before { content: "\e194"; } }
.#{$icon-item-class}-registration-mark      { &:before { content: "\e195"; } }
.#{$icon-item-class}-cloud-download         { &:before { content: "\e197"; } }
.#{$icon-item-class}-cloud-upload           { &:before { content: "\e198"; } }
.#{$icon-item-class}-tree-conifer           { &:before { content: "\e199"; } }
.#{$icon-item-class}-tree-deciduous         { &:before { content: "\e200"; } }
