
// All classes should include the namespace
// example: .#{$app-namespace}-my-class-name { ... }
$app-namespace:           crafter-social;

$color-crimson:           #ed1c24;
$crafter-software-logo-data-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDozNTI0NDZEQjIwOTYxMUUzQTlGNUQwQUE4QTgxNkFERCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDozNTI0NDZEQzIwOTYxMUUzQTlGNUQwQUE4QTgxNkFERCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjM1MjQ0NkQ5MjA5NjExRTNBOUY1RDBBQThBODE2QUREIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjM1MjQ0NkRBMjA5NjExRTNBOUY1RDBBQThBODE2QUREIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+k3KJNAAAA/hJREFUeNqMVHtsU1Uc/m5vb+/W97xbV1ZwT6CzTDITJUiiLEFhMQ4dWSTTpTIX9oiAzCwbsig+ZmaUTI0EgqIGgxjJNN2QSJgExpzMjYXoBGcLe3VbW9Z2bde79vb2Xi//sQcbv5Pz18n3nd93vu/8CFEUcW+d/eUYEgZuH1G4ZlJErztHube2PzElo0oRmeXD4WnYr9mQkfs4GNNjiLABWCyWOXg55tU0TSblnu+xMkFOFQv4Ec46mx/bVdGmVmvbwsE7iPNREIQM96sFJ9nn+37WDThUnr4LN33v19vId5ulWzw2Ms2QNeNzIaahIcpJYJ6y+xL612cfYXMyoX/RmqU6dNgi7KkEH5xCYHhwWywzlVENjTfJRNkTBEU9GGEk23TG+Uz+8SgXoaM7CzNCRZs5etd+CG/Wf6b7vq1/3Qdn3pKNOHv4VcZt8kWkE/NN6TjdAreCAuMJXTQNTRTEg2xU9207LUanQEAECQ3C6algG6rGVSVlL5kZw+9LmkLSBDSrTaAm+we0H39TIIKjoyuM4HbsBq/VgO65DuK3DugjUVM2Y7BKkKUJ3dwMmfrHX3WaXvsWQatHVEPB3/IOFEXFRxWUssF9sTVNbS08GrA8zZ5oOLj7w+amuQR3Jd+7v/vp05yBTZvEMejE/yit+PdHh8QeIfrD5c4uOIbGcbnThsGJ62j+5PNF8QteVc3BYa8pem02Nx1xaQnr8pDE8qcMhmSwbAgzbidElweClMfFaoFkilZA3X3jOdIbhCjczZEfvDKBFOOAy9EDl9MOpUaFVSYj3thfu3xsSD2xMnlwrBhRHnKFEvKTpxHwjpfb+RC8nAtEmlEhMLp0qNVQUorlCf+8MuocPlC1JtRS2xFXyJHQ0YtEa+Xzqu5LpzS+2dKsS//YjAe/GN7IaH51THmWlyyXsjYy7bZrvZO39YKIqDEZ2o6r0F7pK4VKUyqPCeC8wyA2PLq1urH+KwlSsWSH+eYUJIUleQ+vuDp+7G12+r09sTjP85z0fzklBcE7imB1OXzWigmzlvl62Q6FlUnI7L7ZSp+79pSAuI+vrzF5K3c41Y/kGUOW1QNE3QGz6tWyRFVqRrVv5Fa3kWGWfkPR5V9Lt3dt0RvTkxPX5soS6psI8ZUSH1m5ry6uU29wH258ljaZrZgYPUcmPIApeg9bpukd1AZrXvYHyrZ34sa/0N8JrxfZyKQQCMVoFl1ihDsZFwVeivLypgTz1jQSNSUWpqT8BVom7KT31SC0vcg21n7hRzbC4iGdWpooMWmsEIsGe8G00RgY7C0u2Pj65sJWBzt7SzKDSnly6wmwM19S0gzkuBgoigQhl4EgCZizzXPw/wswAA+Dxm88BpX+AAAAAElFTkSuQmCC";

$icon-base-class:         '#{$app-namespace}-icon' !default;
$icon-item-class:         'cs-icon';

// --------------------------------------------------
// Override bootstrap variables here. ---------------

// Iconography
$icon-font-path:          '../libs/sass-bootstrap/fonts/' !default;

// End bootstrap overrides. -------------------------
// --------------------------------------------------

@import 'sass-bootstrap/lib/variables';

$main-elements:
  div,
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section,
  summary,
  button,
  input,
  span,
  strong,
  em,
  a,
  p,
  footer,
  header,
  nav,
  menu;

$html-elements:
  a,
  abbr,
  acronym,
  address,
  applet,
  area,
  article,
  aside,
  audio,
  b,
  base,
  basefont,
  bdi,
  bdo,
  big,
  blockquote,
  body,
  br,
  button,
  canvas,
  caption,
  center,
  cite,
  code,
  col,
  colgroup,
  command,
  datalist,
  dd,
  del,
  details,
  dfn,
  dialog,
  dir,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  font,
  footer,
  form,
  frame,
  frameset,
  head,
  header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  html,
  i,
  iframe,
  img,
  input,
  ins,
  kbd,
  keygen,
  label,
  legend,
  li,
  link,
  map,
  mark,
  menu,
  meta,
  meter,
  nav,
  noframes,
  noscript,
  object,
  ol,
  optgroup,
  option,
  output,
  p,
  param,
  pre,
  progress,
  q,
  rp,
  rt,
  ruby,
  s,
  samp,
  script,
  section,
  select,
  small,
  source,
  span,
  strike,
  strong,
  style,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  textarea,
  tfoot,
  th,
  thead,
  time,
  title,
  tr,
  track,
  tt,
  u,
  ul,
  var,
  video,
  wbr;