<div class="container-fluid">
    <!-- ugc navigation -->
    <div class="row-fluid">
        <nav class="span12">
            <ul class="nav nav-tabs">
                <li ng-repeat="section in sections"
                    ng-class="{ active: (section.moderation.value | uppercase) == status }">
                    <a href="#/status/{{section.moderation.value | uppercase }}">{{section.moderation.label}}</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- pagination -->
    <div class="row-fluid pagination-container" 
         ng-show="pagination.showPagination" 
         ng-controller="PaginationCtrl">

        <div class="well well-small">
            <pagination
                total-items="pagination.totalItems"
                items-per-page="pagination.itemsPerPage"
                page="pagination.currentPage"
                num-pages="pagination.numPages"
                on-select-page="changePage(page)"
                max-size="pagination.maxPageNumber" 
                class="pagination-small" 
                boundary-links="true" 
                rotate="false" ></pagination>
        </div>
    </div>

    <!-- main section displayed when results are available -->
    <div class="row-fluid">
        <main ng-show="displayUgcs" role="main" class="span12">
            <div class="bulk-actions" ng-controller="BulkActionCtrl">
                <select id="bulkActions" ng-model="bulkAction" ng-options="action.status as action.label for action in bulkActions" ng-change="bulkOptionSelected()">
                    <option value="">-- Choose Bulk Action --</option>
                </select>
                <button id="applyBtn" 
                        class="btn entries-list-btn disabled" 
                        ng-click="bulkUpdate($event)">Apply</button>
            </div>

            <div class="heading-wrapper row-fluid">
                <span class="span1 col1">
                    <input type="checkbox" selectallugcs />
                </span>
                <span class="span2 col2 author-section title">
                    Author
                </span>
                <span class="span9 comment-section title">
                    Comment
                </span>
            </div>

            <ul class="unstyled entries-list">
                <li ng-repeat="ugc in ugcList">

                    <div class="row-fluid hide-element" ng-show="!ugc.updated">
                        <div class="span1 col1">
                            <input ng-click="bulkItemsUpdate($event)" ugcid="{{ugc.id}}" type="checkbox" />
                        </div>

                        <div class="span2 col2 author-section">
                            <div class="row-fluid">
                                <div class="span2">
                                    <img ng-src="{{ugc.userImg}}" alt="user profile image"/>
                                </div>
                                <div class="span10">
                                    <dl>
                                        <dt>{{ugc.userName}}</dt>
                                        <dd>{{ugc.userMail}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <article class="span9 col9 comment-section">

                            <div class="entry-wrapper" 
                                 ng-class="{ expandable: ugc.isExpandable && !editMode }">

                                <span class="last-update">
                                    Submitted on: <span class="date">{{ugc.dateAdded}}</span>
                                </span>

                                <a class="target-url" ng-if="ugc.targetTitle && ugc.targetUrl" target="_blank" ng-href="{{ugc.targetUrl}}">{{ugc.targetTitle}}</a>

                                <form novalidate ng-submit="updateUGCContent(ugc, ugc.title, ugc.textContent)">
                                    <div class="read-mode" ng-hide="editMode">
                                        <h4>{{ugc.title}}</h4>

                                        <div class="ugc-content summary" 
                                             ng-hide="fullContent">{{ugc.teaser}}</div>

                                        <div class="ugc-content full" 
                                             ng-show="fullContent">{{ugc.textContent}}</div>
                                    </div>
                                    <div class="edit-mode" ng-show="editMode">

                                        <input  class="title" 
                                                ng-model="ugc.title" 
                                                ng-show="editMode" 
                                                type="text" />
                                        <textarea   class="content"
                                                    ng-model="ugc.textContent" 
                                                    ng-show="editMode" />
                                        <button type="submit" 
                                                class="btn btn-primary btn-sm" 
                                                ng-show="editMode"
                                                ng-click="editMode=!editMode">Done</button>
                                    </div> 
                                </form>

                                <div class="expand-collapse" 
                                     ng-show="ugc.isExpandable" 
                                     ng-click="fullContent=!fullContent">
                                    
                                    <i  class="icon-chevron-down" 
                                        ng-hide="fullContent"></i>

                                    <i  class="icon-chevron-up" 
                                        ng-show="fullContent"></i>
                                </div>
                            </div>

                            <div class="row-fluid moderation-buttons">
                                <moderation-action class="span12" ugcid="{{ugc.id}}" modstatus="{{ugc.moderationStatus}}"></moderation-action>
                            </div>
                        </article>
                    </div>

                    <!-- display message when ugc has been updated -->
                    <div class="row-fluid hide-element" ng-hide="!ugc.updated">
                        <div class="span12">
                            <div class="alert alert-{{ugc.alertClass}}">
                                {{ugc.updateMessage}} <span ng-click="reverseAction($event, ugc.id)" class="undo-action" ng-show="ugc.undo">undo</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </main>
    </div>

    <!-- displayed when no results available -->
    <div class="row-fluid">
        <section class="span12" ng-show="!displayUgcs">
            <div class="alert alert-info">
                {{infoMessage}}
            </div>
        </section>
    </div>

    <!-- pagination -->
    <div class="row-fluid pagination-container bottom" 
         ng-show="pagination.showPagination" 
         ng-controller="PaginationCtrl">

        <div class="well well-small">
            <pagination
                total-items="pagination.totalItems"
                items-per-page="pagination.itemsPerPage"
                page="pagination.currentPage"
                num-pages="pagination.numPages"
                on-select-page="changePage(page)"
                max-size="pagination.maxPageNumber" 
                class="pagination-small" 
                boundary-links="true" 
                rotate="false" ></pagination>
        </div>
    </div>

</div>