.container {
    width: 724px;
}
.container {
    margin: 0 auto;
    width: 440px;
}

.unit {
    float: left;
}
.line, .lastUnit {
    display: block;
    overflow: hidden;
}

.ugc .user-ugc {
    margin: 0;
}

.header h4 {
    font-size: 14px;
    margin: 0;
}

.user-ugc .header {
    border-bottom: 0px solid #CCCCCC !i;
    color: #004276;
    margin-bottom: 10px;
    padding: 10px 0;
}

.copy p:last-child {
    margin-bottom: 0;
}
p, pre {
    margin: 1em 0;
}

.post-body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Georgia,serif;
}

.post-body {
    background: none repeat scroll 0 0 padding-box #FFFFFF;
    border-bottom: 1px solid #CECECE;
    border-radius: 0 0 4px 4px;
    font-family: Georgia,serif;
    font-size: 14.3px;
    overflow: hidden;
    padding: 0 15px 15px;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: lighter;
    line-height: 20.8px;
}
body {
    color: #333333;
}

#body {
    width: 620px;
}
#body {
    float: left;
    width: 476px;
}

.container:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.container {
    width: 940px;
}

.container {
    display: block;
}

.perm .header .byline {
    font-size: 15px;
    margin: 10px 0 0;
    overflow: hidden;
}
.perm .header .byline {
    color: #555555;
    font-family: Noticia,Georgia,serif;
    font-size: 13px;
    margin: 8px 0 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    border-bottom: 0 none;
    clear: both;
    width: 100%;
    display: block;
}

.h1, .h2, .h3 {
    font-weight: normal;
    margin: 0;
}

.perm .header {
    margin: 0 10px 10px;
}

#header h1 {
    margin: 0;
}

.h1 {
    font-size: 55.9px;
    font-family: Oswald Regular,Arial Narrow,Arial,Helvetica,sans-serif;
    line-height: 1.2;
}


.post .top a {
    color: #333333;
}
.post .top a, .post-mini .top a {
    color: #333333;
    text-decoration: none;
}


.post .h2 {
    font-size: 40px !important;
}
.post .h2 {
    font-size: 33px;
    line-height: 1.1;
}
.h1, .h2, .h3 {
    font-weight: normal !important;
    margin: 0 !important;
}

.post .info .byline {
    float: left;
}

.post .info, .post-mini .info {
    color: #555555;
    font-family: Noticia,Georgia,serif;
    font-size: 13px;
    line-height: 1.1;
    white-space: nowrap;
}

.post .post-body {
    float: left;
    margin-bottom: 10px;
    width: 420px;
}
.post .post-body {
    background: none repeat scroll 0 0 padding-box #FFFFFF;
    border-bottom: 1px solid #CECECE;
    border-radius: 0 0 4px 4px;
    display: block;
    font-family: Georgia,serif;
    font-size: 15px;
    line-height: 1.45;
    overflow: hidden;
    padding: 8px 20px 20px;
}

.post .post-body {
    font-family: Georgia,serif;
    font-size: 15px;
    line-height: 1.45;
}

.post .headline, .post .info {
    padding: 0 10px;
    width: auto;
}

.post .info {
    font-size: 14px;
    line-height: 1.6;
}

.post .post-body {
    font-family: Georgia,serif;
    font-size: 15px;
    line-height: 1.45;
}