<div class="textarea">
    <textarea class="editor" rows="1"></textarea>
</div>
<div class="actions">
    <button class="reply btn btn-primary btn-xs" data-action-comment>
        submit
    </button>
</div>