<p class="post-label">Post a Response</p>
<div class="textarea">
    <textarea class="editor" rows="1" data-identifyme="texteditor"></textarea>
</div>

<!-- Custom -->
<div class="submission-details">
    <p class="submission-label"></p>
    <p>
        <input type="checkbox" name="accept" value="accept" data-action-terms>
        <span class="agree-terms-label">&nbsp;</span><a target="_blank" class="terms-link" href=""></a>
    </p>
</div>
<!---->

<div class="actions">
    <button class="reply btn btn-primary" data-action-comment>
        Post
    </button>
</div>