<div class="crafter-social-view crafter-social-commentable-options">
    <ul>
        <li>
            <a href="#" class="action" data-action="watch" title="Watch" data-placement="auto">
                <i class="crafter-social-icon cs-icon-eye-open"></i>
            </a>
        </li>
        <li>
            <a href="#" class="action" data-action="showFullView" title="Lightbox View" data-placement="auto">
                <i class="crafter-social-icon cs-icon-fullscreen"></i>
            </a>
        </li>
        <li>
            <a href="#" class="action" data-action="showDiscussionBubble" title="View & Comment" data-placement="auto">
                <i class="crafter-social-icon cs-icon-comment"></i> <span class="badge">{{count}}</span>
            </a>
        </li>
    </ul>
</div>