
<div class="arrow"></div>

<header>
    <div class="options-view-container"></div>
    <button class="close">
        <span>&times;</span>
    </button>
</header>

<div class="crafter-social-popover-status" style="display: none">
    <a class="pull-right" data-load-more>more</a>
    <span class="stats">{{from}} - {{to}} of {{of}}</span>
</div>

<div class="comments crafter-social-comment-thread">
    <div class="no-comments">"{{loc 'popover.no-comment'}}"</div>
</div>

<footer class="reply-box"></footer>


<!--
<li role="presentation" class="dropdown-header">Positioning</li>
<li>
    <a>
        <i class="crafter-social-icon cs-icon-chevron-up"></i> Top
    </a>
</li>
<li>
    <a>
        <i class="crafter-social-icon cs-icon-chevron-right"></i> Right
    </a>
</li>
<li>
    <a>
        <i class="crafter-social-icon cs-icon-chevron-down"></i> Bottom
    </a>
</li>
<li>
    <a>
        <i class="crafter-social-icon cs-icon-chevron-left"></i> Left
    </a>
</li>
-->