
<div class="arrow"></div>
<header>
    <button class="close">
        <span>&times;</span>
    </button>
</header>
<div class="comments crafter-social-comment-thread">
    <div class="no-comments">(no comments)</div>
</div>
<footer class="reply-box">

</footer>
